p {
  margin-bottom:4px;
}

.cities-item{
  background-color:linen;
  padding: 6px 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.cities-item:hover{
  cursor: pointer;
}